#antipro #antipro-notification-bar {
  z-index: 2147483647;

  width: 300px;
  height: 100px;
  position: fixed;

  transform: rotate(-45deg);
  top: 0;
  left: -100px;
  text-align: center;

  font-family: Arial, Verdana, sans-serif;
  font-size: 14px;
}

#antipro #antipro-notification .antipro-top {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
#antipro #antipro-notification .antipro-message {
  padding: 0 80px;
}
#antipro #antipro-notification .antipro-description {
  display: none;
}

#antipro #antipro-notification .antipro-close {

}


.antipro-color-green {background-color: rgba(0,255,0,0.8);}
.antipro-color-yellow {background-color: rgba(255,255,0,0.8);}
.antipro-color-orange {background-color: rgba(255,0,0,0.8);}
.antipro-color-darkorange {background-color: rgba(255,0,0,0.8);}
.antipro-color-red {background-color: rgba(255,0,0,0.8);}